.site-header {
    background: $site-header-bg;
    padding-top: 2rem;
    .site-title {
      font-size:$font-xl;
      font-weight:700;
      font-family: avenir next, avenir, sans-serif;
      display:inline-block;
      background:#333;
      padding:$grid-1 $grid-2;
     a {
         text-decoration: none;
         color:#fff;
     }

    }
    small {
      display:inline-block;
      font-size:$font-s;
      font-weight:normal;
      padding:$grid-0 $grid-2;
      border:5px solid #dfdfdf;
      line-height: $font-xl;
      vertical-align: top;

    }
}
