.section-support {
  clear: both;
  background-color: rgb(255, 182, 140);
  background-image:url('/assets/images/artists/glow.jpg');
  background-size:cover;
  padding-top:3rem;
  padding-bottom:3rem;
  background-position:top;
  color:#fff;
}
